player-connection-mode=Listen
player-connection-guid=3887731235
player-connection-debug=0
player-connection-project-name=Goober Island
player-connection-ip=192.168.80.1
player-connection-ip=192.168.159.1
player-connection-ip=192.168.1.74
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=1328ceb9ea494fb58bb8b0543606d7db
